nav.navigation
  ul.navigation__list
    each href,title in jsons.navigation.navPages
      if currentPage == title
        li.navigation__item.navigation__item--current= title
      else
        li.navigation__item
          a(href= href+'.html').navigation__link= title
