extends ../layouts/layout-default

block head
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';
  - var pageKeywords = 'Ключевые слова главной страницы';

block content
  +breadcrumbs([{href: 'index', text: 'Главная'}, {href: 'about', text: 'О компании'}])
  h1 Главная страница
  p Содержимое главной страницы
block footer
  include ../modules/socials/socials
