include ../components/breadcrumbs/breadcrumbs
include ../components/button/button
include ../components/icon/icon

doctype html
html(lang='ru')
  include ../components/head/head
  body
    include ../components/header/header
    block content

    include ../components/footer/footer
