include ../modules/breadcrumbs/breadcrumbs
include ../modules/button/button
include ../modules/icon/icon

doctype html
html(lang='ru')
  include ../modules/head/head
  body
    include ../modules/header/header
    block content

    include ../modules/footer/footer
